nav {
    background-color: #2C3E50;
}

.navbar-brand {
    font-size: 32px;
}

nav a {
    color: white !important;
    font-weight: bolder;
    text-transform: uppercase;
}

nav a.active {
    background-color: #1ABC9C;
    border-radius: 10px;
}

footer {
    background-color: #2C3E50;
    color: white;
}

footer span {
    width: 35px;
    height: 35px;
}

.footer-bottom {
    background-color: #1A252F;
}


.home,
.about {
    background-color: #1ABC9C;
    min-height: 85vh;
    color: white;
}

.lines {
    width: 150px;
    height: 5px;
}

input {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
    outline: none !important;
}

button {
    background-color: #1ABC9C !important;
}

.contactt {
    min-height: 85vh;
}

.item:hover .layer
{
    opacity: 0.9;
}
.layer{
    background-color: #1abc9c;
    opacity: 0;
    transition: 0.5s;
}